html, body {
  margin: 0;
  /*flying pizza cats*/
  /*background:  url(https://media.giphy.com/media/IeCVaFnmXFpjq/giphy.gif) no-repeat center center fixed; */
  /*calvin and hobbes night sky*/
  background-size: cover !important;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

body#about {
  background: url(https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.gif) no-repeat center center fixed;
  overflow-y: auto;
}

body#home {
  background: url(https://media.giphy.com/media/dqW8RSNNJMRrO/giphy.gif) no-repeat center center fixed;
  overflow-y: hidden;
}

.parentcontainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.layer:first-child {
  border-right: 1px dashed #333;
}

.layer {
  background-color: rgba(242, 242, 242, 0.85);
  height: 500px;
  transform: translateY(-30px);
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Twitter */

.fa-instagram {
  background: #125688;
  color: white;
}

/* Style all font awesome icons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}

nav {
  flex: 0 1 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

nav div a {
  color: #FFF;
  text-decoration: none;
  font-size: 2.5em;
}

nav div a:hover {
  background-color: rgba(140, 137, 135, 0.41);
}

/*Do the zoom in thing at the start*/

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.main-title {
  text-align: center;
  color: rgba(255, 140, 0, 0.8);
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 2s;
  animation-name: zoomIn;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.main-title h1 {
  font-family: 'Bungee Shade', cursive !important;
  font-size: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
