#pagewrap {
     width: auto;
     height: auto;
     margin: 0;
     position: absolute;
}


/*Do the zoom in thing at the start*/
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.main-title{
  margin: 0;
  height: 100%;
  /* display:flex; */
  text-align: center;
  line-height: 750px;

  -webkit-animation-name:zoomIn;
  -webkit-animation-duration: 2s;
  animation-name: zoomIn;
}

#title_text{
  text-align: center;
  color:rgba(245, 144, 29, 0.84);
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

body{
  /*flying pizza cats*/
  /*background:  url(https://media.giphy.com/media/IeCVaFnmXFpjq/giphy.gif) no-repeat center center fixed; */
  /*calvin and hobbes night sky*/
  background:  url(https://media.giphy.com/media/dqW8RSNNJMRrO/giphy.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  z-index: 0;
}

body {
  height: auto;
  vertical-align: middle;
  text-align: center;
}

/*----------navigation bar-------------------------*/

.navbar {
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color:white;
}

.navbar a {
  color:white;
  border: none;
  background: rgba(54, 25, 25, 0.3);     // red transparent background color for buttons//
  padding: 150px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 80px 230px;
  border-radius: 50%;
}

.dropdown {
  float: left;
  overflow: hidden ;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px solid 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: inline-block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(140, 137, 135, 0.41);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(140, 137, 135, 0.41);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button5 {border-radius: 50%;} */

/*---------------------------------------------*/
