body {
  text-align: center;
}

.layer {
  background-color: rgba(242, 242, 242, 0.85);
  left: 12.5%;
  right: 12.5%;
  height: 100%;
  z-index: -1;
}

.container {
  z-index: +1;
}

.main-title h1 {
  /* font-family: 'Fredericka the Great', cursive; */
  font-size: 90px !important;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  z-index: +1;
}

.navigation a {
  position: static;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color: white;
  border: none;
  background: rgba(54, 25, 25, 0.3);
  padding: 10px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 40px 200px;
  border-radius: 50%;
  z-index: +2;
}

.navigation a:hover {
  background-color: rgba(140, 137, 135, 0.41);
}

h4 {
  color: #FFE8CC;
  z-index: :+1;
  line-height: 500px;
}