html, body {
  margin: 0;
  /*flying pizza cats*/
  /*background:  url(https://media.giphy.com/media/IeCVaFnmXFpjq/giphy.gif) no-repeat center center fixed; */
  /*calvin and hobbes night sky*/
  background-size: cover !important;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

body#about {
  background: url(https://78.media.tumblr.com/940ba436387ed793e381fbaca98ef5dc/tumblr_o4irriWdp21ue6sx2o1_500.gif) no-repeat center center fixed;
  overflow-y: auto;
}

body#home {
  background: url(https://media.giphy.com/media/dqW8RSNNJMRrO/giphy.gif) no-repeat center center fixed;
  overflow-y: hidden;
}

body#content {
  background: url(https://media.giphy.com/media/pfGGWGw7UVqA8/giphy.gif) no-repeat center center fixed;
  overflow-y: auto;
}

.parentcontainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.layer:first-child {
  border-right: 1px dashed #333;
}

.layer {
  background-color: rgba(242, 242, 242, 0.85);
  height: 1500px;
  transform: translateY(-30px);
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.form-group {
  margin-bottom: 20px;
}

/*  jumbotron */

.container {
  padding-top: 20px;
}

.jumbotron {
  height: 150px;
  text-align: center;
}

.img-circle {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Instagram*/

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
  font-size: 100px;
  text-align: center;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  font-size: 80px;
  text-align: center;
}

.fa-linkedin {
  background: #0077b5;
  color: white;
  font-size: 80px;
  text-align: center;
}

/* Style all font awesome icons */

.fa {
  padding: 20px;
  font-size: 100px;
  text-align: justify;
  text-decoration: none;
  border-radius: 90%;
}

/* Add a hover effect  */

.fa:hover {
  opacity: 0.7;
}

nav {
  flex: 0 1 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

nav div a {
  color: #FFF;
  text-decoration: none;
  font-size: 2.5em;
}

nav div a:hover {
  opacity: 0.7;
}

/*Do the zoom in thing at the start*/

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.main-title {
  text-align: center;
  color: rgba(255, 140, 0, 0.8);
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 2s;
  animation-name: zoomIn;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.main-title h1 {
  font-family: 'Bungee Shade', cursive !important;
  font-size: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.about-title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 95px !important;
  color: #ffff;
  margin-bottom: auto;
  margin-top: auto;
}

.content-title h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 95px !important;
  color: #ffff;
  margin-bottom: auto;
  margin-top: auto;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}